<Router AppAssembly="typeof(Program).Assembly">
    <NotFoundContent>
        <div class="container">
            <div class="row">
                <div class="col-12 align-self-center align-content-center text-center"></div>
                <img  class="pt-5" src="img/notfound.gif"/>
            </div>
        </div>
    </NotFoundContent>
</Router>
