@inherits LayoutComponentBase
<div>
    <nav class="navbar navbar-expand-lg navbar-dark  test">
        <div class="container-fluid">
            <div class="col-sm">
                <a class="m-2" href="/">Devmonte</a>
            </div>
            <div class="col-sm text-center">
                <a class="m-2" href="Monte">
                    <i class="far fa-compass fa-3x"></i>
                </a>
                <a class="m-2" href="Dev">
                    <i class="fas fa-code fa-2x"></i>
                </a>
            </div>
            <div class="col-sm text-center">
                    <a class="nav-link" href="">Mountains</a>
            </div>
        </div>
    </nav>
</div>
<div class="content">
    @Body
</div>

<div>
    <footer class="footer">
        <div class="container">
            <div class="footer-copyright text-center">
                <i class="fas fa-copyright"></i>
                2018 Created with
                <i class="fas fa-heart"></i>
                using
                <a href="https://blazor.net/">Blazor</a>
            </div>
        </div>
    </footer>
</div>


